<ion-header>
  <ion-toolbar>
    <ion-title>CUSTOMERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- need to iterate here-->
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 1 NAME</ion-card-title>
          <ion-card-subtitle>Customer 1 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 1
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 2 NAME</ion-card-title>
          <ion-card-subtitle>Customer 2 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 2
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 3 NAME</ion-card-title>
          <ion-card-subtitle>Customer 3 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 3
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 4 NAME</ion-card-title>
          <ion-card-subtitle>Customer 4 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 4
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 5 NAME</ion-card-title>
          <ion-card-subtitle>Customer 5 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 5
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 6 NAME</ion-card-title>
          <ion-card-subtitle>Customer 6 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 6
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)= "onclickCustomerName()">
        <ion-card-header>
          <ion-card-title>CUSTOMER 7 NAME</ion-card-title>
          <ion-card-subtitle>Customer 7 Added Details</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Details about the customer 7
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
